body {
margin: 0;
background: #0b1220;
font-family: Arial, sans-serif;
color: white;
max-width: 420px; /* ФИКС: только мобильный экран */
margin-left: auto;
margin-right: auto;
}


.card {
max-width: 360px;
margin: auto;
padding: 16px 12px 24px; /* мобильные отступы */
}


.icon {
width: 96px;
height: 96px;
border-radius: 24px;
display: block;
margin: 0 auto 12px;
}


h1 { text-align:center; margin:10px 0; font-size:20px; }


.rating { text-align:center; color:#facc15; font-size:14px; }
.rating span { color:#cbd5e1; font-size:13px; }


.screens {
display: flex;
gap: 10px;
overflow-x: auto;
margin: 16px 0 12px;
}


.screens img {
width: 95px; /* размер как в Play Market */
border-radius: 12px;
}


.desc {
margin: 14px 0 18px;
font-size: 14px;
line-height: 1.45;
color: #e5e7eb;
}


.btn {
width: 100%;
background: #22c55e;
color: black;
padding: 13px;
border-radius: 14px;
font-size: 16px;
font-weight: bold;
border: none;
cursor: pointer;
}


.small { text-align:center; margin-top:12px; color:#9ca3af; font-size:11px; }


.reviews { margin-top: 22px; }
.reviews h2 { font-size: 16px; margin-bottom: 12px; }


.review {
display: flex;
gap: 10px;
background: #111827;
padding: 10px;
border-radius: 14px;
margin-bottom: 10px;
}


.avatar {
width: 36px;
height: 36px;
border-radius: 50%;
}


.review-head {
display: flex;
justify-content: space-between;
font-size: 13px;
}


.menu { color:#9ca3af; }
.stars { color:#facc15; font-size:13px; }
.date { font-size:11px; color:#9ca3af; }
.help { font-size:11px; color:#9ca3af; }
.help span { margin-left:8px; }


/* НА ПК СКРЫВАЕМ (только Android) */
@media screen and (min-width: 481px) {
body { display: none; }
}